*{
    margin: 0;
    padding: 0;
    font-size: 20px;

}

.container{
    margin: 0px auto;
    width : auto;
    height: auto;
}

header{
    
    background-color: white;
    border: 2px solid black;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';

}

nav{
    background-color : #cdbb4c ;
    border: 2px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';

}

.body{
    display: flex;
    height: auto;
    width: auto;
}

.mainContent{
    background-color : white;
    border: 2px solid black;
    height: 545px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';
    word-spacing: 10px;
}

.contentBerita{
    background-color: white;
    border: 2px solid black;
    height: 545px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';

}

footer{
    background-color:#cdbb4c;
    border : 2px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';
    padding: 10px;
    color: maroon;
}